/kermany2018.zip
/new_scan.jpg
/data/
/oct_model.pth
/.venv/
/resnet50_model.pth
/aptos2019.zip
/new_scan.jpg
/not_oct_data/
/kermany2018.zip
/combined_data/
/cifar10-classification-image.zip
/data.zip
/oct_model.pth
/skin-cancer-mnist-ham10000.zip
